<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.upms.dao.JobTitleMapper">
  <resultMap id="BaseResultMap" type="com.gy.upms.entity.JobTitle">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="job_title_en" jdbcType="VARCHAR" property="jobTitleEn" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_id" jdbcType="INTEGER" property="createrId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, job_title, job_title_en, level, remark, create_id, creater, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from job_title
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from job_title
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gy.upms.entity.JobTitle">
    insert into job_title (id, job_title, job_title_en,
      level, remark, create_id, 
      creater, create_time)
    values (#{id,jdbcType=INTEGER}, #{jobTitle,jdbcType=VARCHAR}, #{jobTitleEn,jdbcType=VARCHAR},
      #{level,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createrId,jdbcType=INTEGER},
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.upms.entity.JobTitle">
    insert into job_title
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobTitle != null">
        job_title,
      </if>
      <if test="jobTitleEn != null">
        job_title_en,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        create_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="jobTitle != null">
        #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobTitleEn != null">
        #{jobTitleEn,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.upms.entity.JobTitle">
    update job_title
    <set>
      <if test="jobTitle != null">
        job_title = #{jobTitle,jdbcType=VARCHAR},
      </if>
      <if test="jobTitleEn != null">
        job_title_en = #{jobTitleEn,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        create_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.upms.entity.JobTitle">
    update job_title
    set job_title = #{jobTitle,jdbcType=VARCHAR},
      job_title_en = #{jobTitleEn,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_id = #{createrId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from job_title
        <where>
            <choose>
                <when test="record.id !=null">
                    id = #{record.id,jdbcType=INTEGER}
                </when>

                <otherwise>
                    <if test="record.jobTitle != null">
                        job_title = #{record.jobTitle,jdbcType=VARCHAR},
                    </if>
                    <if test="record.jobTitleEn != null">
                        job_title_en = #{record.jobTitleEn,jdbcType=VARCHAR},
                    </if>
                    <if test="record.level != null">
                        level = #{record.level,jdbcType=INTEGER},
                    </if>
                    <if test="record.remark != null">
                        remark = #{record.remark,jdbcType=VARCHAR},
                    </if>
                    <if test="record.createrId != null">
                        create_id = #{record.createrId,jdbcType=INTEGER},
                    </if>
                    <if test="record.creater != null">
                        creater = #{record.creater,jdbcType=VARCHAR},
                    </if>
                    <if test="record.createTime != null">
                    create_time = #{record.createTime,jdbcType=TIMESTAMP},
                </otherwise>
            </choose>
        </where>
        order by id asc
    </select>
    <select id="selectByPage" resultMap="BaseResultMap,Rows">
        select
        <include refid="com.gy.upms.dao.CommonMapper.pageSelectColumn"></include>
        <include refid="Base_Column_List" />
        from job_title
        <where>
            <choose>
                <when test="record.id !=null">
                    id = #{record.id,jdbcType=INTEGER}
                </when>

                <otherwise>
                    <if test="record.jobTitle != null">
                        <bind name="jobTitle" value="record.jobTitle + '%'"/>
                        (job_title like #{jobTitle } or job_title_en like #{jobTitle })
                    </if>
                    <if test="record.job_title_en != null">
                        <bind name="jobTitle" value="record.job_title_en + '%'"/>
                        and (job_title like #{roleName } or job_title_en like #{roleName })
                    </if>

                    <if test="record.level != null">
                        level = #{record.level,jdbcType=INTEGER},
                    </if>
                    <if test="record.remark != null">
                        remark = #{record.remark,jdbcType=VARCHAR},
                    </if>
                    <if test="record.createrId != null">
                        create_id = #{record.createrId,jdbcType=INTEGER},
                    </if>
                    <if test="record.creater != null">
                        creater = #{record.creater,jdbcType=VARCHAR},
                    </if>
                    <if test="record.createTime != null">
                    create_time = #{record.createTime,jdbcType=TIMESTAMP},
                </otherwise>
            </choose>
        </where>
        order by id asc
        LIMIT #{offset},#{rows};
        <include refid="com.gy.upms.dao.CommonMapper.pageSelectRows"></include>
    </select>
</mapper>