<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.upms.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.gy.upms.entity.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="perm_key" jdbcType="VARCHAR" property="permKey" />
    <result column="perm_name_cn" jdbcType="VARCHAR" property="permNameCn" />
    <result column="perm_name_en" jdbcType="VARCHAR" property="permNameEn" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="perm_url" jdbcType="VARCHAR" property="permUrl" />
    <result column="is_navigation" jdbcType="INTEGER" property="isNavigation" />
    <result column="http_method" jdbcType="VARCHAR" property="httpMethod" />
    <result column="is_login" jdbcType="INTEGER" property="isLogin" />
    <result column="ico" jdbcType="VARCHAR" property="ico" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creater_id" jdbcType="INTEGER" property="createrId" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_id, perm_key, perm_name_cn, perm_name_en, status, sort_order, level, parent_id, 
    perm_url, is_navigation, http_method, is_login, ico, remark, creater_id, creater, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gy.upms.entity.Permission">
    insert into permission (id, app_id, perm_key, 
      perm_name_cn, perm_name_en, status, 
      sort_order, level, parent_id, 
      perm_url, is_navigation, http_method, 
      is_login, ico, remark, 
      creater_id, creater, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, #{permKey,jdbcType=VARCHAR}, 
      #{permNameCn,jdbcType=VARCHAR}, #{permNameEn,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{sortOrder,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, 
      #{permUrl,jdbcType=VARCHAR}, #{isNavigation,jdbcType=INTEGER}, #{httpMethod,jdbcType=VARCHAR}, 
      #{isLogin,jdbcType=INTEGER}, #{ico,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createrId,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.upms.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="permKey != null">
        perm_key,
      </if>
      <if test="permNameCn != null">
        perm_name_cn,
      </if>
      <if test="permNameEn != null">
        perm_name_en,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="permUrl != null">
        perm_url,
      </if>
      <if test="isNavigation != null">
        is_navigation,
      </if>
      <if test="httpMethod != null">
        http_method,
      </if>
      <if test="isLogin != null">
        is_login,
      </if>
      <if test="ico != null">
        ico,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createrId != null">
        creater_id,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="permKey != null">
        #{permKey,jdbcType=VARCHAR},
      </if>
      <if test="permNameCn != null">
        #{permNameCn,jdbcType=VARCHAR},
      </if>
      <if test="permNameEn != null">
        #{permNameEn,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permUrl != null">
        #{permUrl,jdbcType=VARCHAR},
      </if>
      <if test="isNavigation != null">
        #{isNavigation,jdbcType=INTEGER},
      </if>
      <if test="httpMethod != null">
        #{httpMethod,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null">
        #{isLogin,jdbcType=INTEGER},
      </if>
      <if test="ico != null">
        #{ico,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.upms.entity.Permission">
    update permission
    <set>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="permKey != null">
        perm_key = #{permKey,jdbcType=VARCHAR},
      </if>
      <if test="permNameCn != null">
        perm_name_cn = #{permNameCn,jdbcType=VARCHAR},
      </if>
      <if test="permNameEn != null">
        perm_name_en = #{permNameEn,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sortOrder != null">
        sort_order = #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="permUrl != null">
        perm_url = #{permUrl,jdbcType=VARCHAR},
      </if>
      <if test="isNavigation != null">
        is_navigation = #{isNavigation,jdbcType=INTEGER},
      </if>
      <if test="httpMethod != null">
        http_method = #{httpMethod,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null">
        is_login = #{isLogin,jdbcType=INTEGER},
      </if>
      <if test="ico != null">
        ico = #{ico,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null">
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.upms.entity.Permission">
    update permission
    set app_id = #{appId,jdbcType=INTEGER},
      perm_key = #{permKey,jdbcType=VARCHAR},
      perm_name_cn = #{permNameCn,jdbcType=VARCHAR},
      perm_name_en = #{permNameEn,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sort_order = #{sortOrder,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      perm_url = #{permUrl,jdbcType=VARCHAR},
      is_navigation = #{isNavigation,jdbcType=INTEGER},
      http_method = #{httpMethod,jdbcType=VARCHAR},
      is_login = #{isLogin,jdbcType=INTEGER},
      ico = #{ico,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserIdAndAppId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from permission
    where
      permission.status=1
      <if test="#userId !=null">
      and exists (SELECT
        1
        FROM
        role_perm
        WHERE
        EXISTS (
        SELECT
        1
        FROM
        role
        WHERE
        role.id = role_perm.role_id
        AND role.status = 1
        AND EXISTS (
        SELECT
        1
        FROM
        user_role
        WHERE
        user_role.role_id = role.id
        AND user_role.user_id = #{userId}
        )
        )
        )role_perm.perm_id=permission.id
      </if>
      <if test="#appId !=null">
      and app_id=#{appId}
      </if>
  </select>
  <select id="selectByAppToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from permission
    where
      permission.status=1
      and  exists (
        select 1 from application where status=1 and app_token = #{token} and permission.app_id=application.id
    )
  </select>
</mapper>