<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.upms.dao.ServerLogMapper">
  <resultMap id="BaseResultMap" type="com.gy.upms.entity.ServerLog">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="gate_way" jdbcType="VARCHAR" property="gateWay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="state_time" jdbcType="TIMESTAMP" property="stateTime" />
    <result column="http_method" jdbcType="VARCHAR" property="httpMethod" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gate_way, address, remote_addr, state_time, http_method
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from server_log
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from server_log
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gy.upms.entity.ServerLog">
    insert into server_log (id, gate_way, address, 
      remote_addr, state_time, http_method
      )
    values (#{id,jdbcType=CHAR}, #{gateWay,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remoteAddr,jdbcType=VARCHAR}, #{stateTime,jdbcType=TIMESTAMP}, #{httpMethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.upms.entity.ServerLog">
    insert into server_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gateWay != null">
        gate_way,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remoteAddr != null">
        remote_addr,
      </if>
      <if test="stateTime != null">
        state_time,
      </if>
      <if test="httpMethod != null">
        http_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="gateWay != null">
        #{gateWay,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="stateTime != null">
        #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="httpMethod != null">
        #{httpMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.upms.entity.ServerLog">
    update server_log
    <set>
      <if test="gateWay != null">
        gate_way = #{gateWay,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="stateTime != null">
        state_time = #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="httpMethod != null">
        http_method = #{httpMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.upms.entity.ServerLog">
    update server_log
    set gate_way = #{gateWay,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      state_time = #{stateTime,jdbcType=TIMESTAMP},
      http_method = #{httpMethod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.gy.upms.entity.ServerLog">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="gate_way" jdbcType="VARCHAR" property="gateWay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="remote_addr" jdbcType="VARCHAR" property="remoteAddr" />
    <result column="state_time" jdbcType="TIMESTAMP" property="stateTime" />
    <result column="http_method" jdbcType="VARCHAR" property="httpMethod" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gate_way, address, remote_addr, state_time, http_method
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from server_log
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from server_log
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gy.upms.entity.ServerLog">
    insert into server_log (id, gate_way, address, 
      remote_addr, state_time, http_method
      )
    values (#{id,jdbcType=CHAR}, #{gateWay,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{remoteAddr,jdbcType=VARCHAR}, #{stateTime,jdbcType=TIMESTAMP}, #{httpMethod,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.upms.entity.ServerLog">
    insert into server_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gateWay != null">
        gate_way,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="remoteAddr != null">
        remote_addr,
      </if>
      <if test="stateTime != null">
        state_time,
      </if>
      <if test="httpMethod != null">
        http_method,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="gateWay != null">
        #{gateWay,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="stateTime != null">
        #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="httpMethod != null">
        #{httpMethod,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.upms.entity.ServerLog">
    update server_log
    <set>
      <if test="gateWay != null">
        gate_way = #{gateWay,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="remoteAddr != null">
        remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      </if>
      <if test="stateTime != null">
        state_time = #{stateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="httpMethod != null">
        http_method = #{httpMethod,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.upms.entity.ServerLog">
    update server_log
    set gate_way = #{gateWay,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      remote_addr = #{remoteAddr,jdbcType=VARCHAR},
      state_time = #{stateTime,jdbcType=TIMESTAMP},
      http_method = #{httpMethod,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>